body {
  margin: 0;
  font-family: Helvetica, sans-serif, Tahoma, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(240, 239, 239);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.posts {
  margin: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  height: 250px;
}

.post__image{
  flex:0.3;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}

.post__info{
  flex:1;
  padding: 15px 30px;
}
/* #root > div > div {
  display:list-item;
}
 */
